/* header and nav layout */
.nav-container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #d3d3d3;
  position: relative;
  z-index: 50;
}

.nav-logo {
  transform: translateX(-300px);
  margin: 10px;
  width: 260px;
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-logo img {
  max-width: 260px;
  max-height: 120px;
}

nav.dropdown {
  transform: translateX(-335px);
  padding: 0 10px 0 50px;
  flex-shrink: 0;
}

nav.dropdown ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.dropdown a {
  display: block;
  font-family: var(--heading-font-family);
}

nav.dropdown ul a {
  background-color: #fff;
  color: #252525;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 20px;
}

nav.dropdown li {
  position: relative;
  flex-shrink: 0;
}

nav.dropdown ul ul {
  display: none;
  position: absolute;
  width: auto;
  background-color: #4cb16e;
}

nav.dropdown ul ul li {
  width: 220px;
  padding: 5px 16px;
}

nav.dropdown ul ul a {
  background-color: #4cb16e;
  color: #fff;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

nav.dropdown ul ul li:not(:last-child) a {
  border-bottom: 1px solid #93d0a7;
}