/* block specific CSS goes here */
main .hero-container > div {
  max-width: unset;
  padding: 0;
}
  
main .hero-container {
  padding: 0;
  background-color: unset;
}

main .hero {
  padding: 40px 0;
  position: relative;
  min-height: 320px;
}

main .hero h1,
main .hero h2,
main .home-hero {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1;
}

main .hero h1,
main .hero h2,
main .hero h3,
main .home-hero {
  color: var(--text-white);
}

main .home-hero {
  position: relative;
  z-index: 10;
  width: 75%;
  line-height: 1.7;
  font-weight: lighter;
  padding: 50px;
  margin: 173px auto 0;
  font-size: 16px;
}

main .home-hero h3,
main .home-hero p {
  max-width: 46%;
}

main .home-hero ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: stretch;
  max-width: unset;
  margin-top: 110px;
  gap: 20px;
  font-weight: bold;
}

main .home-hero ul li {
  background: #4cb16eb3;
  text-transform: uppercase;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

main .home-hero ul li a {
  color: #fff;
  padding: 36px 40px;
  display: block;
  text-align: center;
  max-width: 100%;
  text-decoration: none;
  line-height: 24px;
}

@media (max-width: 1440px) {
  main .home-hero {
    width: auto;
  }

  main .home-hero ul li a {
    padding: 30px 10px;
  }
}

main .hero h1 {
  margin-top:187px;
}

main .hero h2 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 30px;
}

main .hero h3 {
  line-height: 1.2;
  font-size: 52px;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: 50% 50%;
  box-sizing: border-box;
  filter: brightness(40%)
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}